{% extends "../../templates/base.njk" %}

{% block head %}
  <title>The Team - A-1 Motion &amp; Design, Inc</title>
{% endblock %}

{% block main %}
  <div class="container section">
    <h2>The Team</h2>
    <div class="team-row" id="team-members">

    </div>
  </div>
{% endblock %}