<header class="app-header">
  <a href="/">
    <img class="app-logo" src="https://rewarecdn.a1motion.com/dev/2d67750a3013554389f81bf0cb4b0937ae0f8c2e7e94875927acc8cb2f49fd1e.png" alt="A-1 Motion & Design Logo">
  </a>
  <nav class="app-nav">
    <ul>
      <li>
        <div class="app-nav-link">
          <a href="/contact">Contact</a>
        </div>
      </li>
      <li>
        <div class="app-nav-link">
          <a href="/team">The Team</a>
        </div>
      </li>
      <li>
        <div class="app-nav-link">
          <a href="/work">Our Work</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="mobile-app-nav">
    <div class="hamburger hamburger--slider">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
  </div>
</header>

<div class="mobile-nav">
  <nav class="app-nav">
    <ul>
      <li>
        <div class="app-nav-link">
          <a href="/contact">Contact</a>
        </div>
      </li>
      <li>
        <div class="app-nav-link">
          <a href="/team">The Team</a>
        </div>
      </li>
      <li>
        <div class="app-nav-link">
          <a href="/work">Our Work</a>
        </div>
      </li>
    </ul>
  </nav>
</div>