{% macro field(name, label = '', value = '', type = 'text', required="") %}
  <div class="form-item">
    <label class="input-field">
      <input
        type="{{ type }}" name="{{ name }}" id="{{ name }}"
         value="{{ value | escape }}" placeholder="{{ label | escape }}"
         aria-labelledby="{{name}}-label"
         {{' required aria-required="true"' if required}}>
      <span id="{{name}}-label">{{label}}</span>
    </label>
    <div class="form-hint form-error"></div>
  </div>
{% endmacro %}

{% macro textarea(name, label = "", value = "") %}
  <div class="form-item">
    <label class="input-field">
      <textarea name="{{ name }}" id="{{ name }}" placeholder="{{ label | escape }}">{{value}}</textarea>
      <span>{{label}}</span>
    </label>
    <div class="form-hint form-error"></div>
  </div>
{% endmacro %}