{% extends "../../templates/base.njk" %}

{% block main %}
  <div class="section container">
    <svg viewBox="0 0 300 100" id="hero">
    {% for i in range(0, 103) %} <rect width="4" height="4" visibility="hidden" data-index="{{i}}"></rect> {% endfor %}
    </svg>
  </div>

  <div class="grey">
    <div class="section container">
      <h3>Textiles</h3>
      <p class="flow-text">
      North Carolina has a strong textile history that has historically thrived and built our communities. Though not what it used to be, textiles still thrives today and has been forced to adapt to stay competitive. Better quality control, more efficient processes, more automation, and easier adaptation is what it has taken to excel in the industry. We know, because we have been at the forefront of it all.
    </p>
    </div>
  </div>

  <div class="section container">
    <h3>Plastics</h3>
    <p class="flow-text">
      Plastics manufacturing industry is going very strong in the US. Automotive, Medical, Packaging, and even textiles are all using plastics in in manufacturing. Plastics require very tight temperature controls, precise speed and torque control, complicated sequencing, and integration with supporting equipment. We are very experienced with all fields of the plastics industry.
    </p>
  </div>

  <div class="grey">
    <div class="section container">
      <h3>Metal</h3>
      <p class="flow-text">
      Sheet metal slitting, aluminum extrusion, material handling, recycling, metal type detection and separating, stamping, forming, CNC Integration, and more. The metal industry is apart of all aspects of our lives, it has a very strong history, is the root of the industrial revolution, and in order to stay on a competitive edge, has adapted industrial automation to help procure better precision and quality. A-1 Motion has been apart of all aspects of the metal industry.
    </p>
    </div>
  </div>

  <div class="section container">
    <h3>Paper</h3>
    <p class="flow-text">
      Precise Web control requires a very complicated process. Speeds must match to less than 0.01% accuracy during in all types of the paper industry. speed errors can cause registrations in the printing industry to waver, can cause web breaks during acceleration and deceleration, can bend rollers or break brackets. The paper industry requires precise calibration of load cells, drives, PLC’s, air loading systems, UV lights, flying knifes and rotary cutters. We are very good at all of this, because we use the right equipment, have extensive knowledge of the industry and process, and can have the passion and excitement to keep improving the technology.
    </p>
  </div>

  <div class="section container center">
    <a href="/contact" class="btn btn-primary btn-large">Get in Touch</a>
  </div>

{% endblock %}